/* Reset CSS */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    width: 100%;
    font-family: "Kanit", sans-serif;
}

/* Estilos del cuerpo */
body {
    line-height: 1.6;
    margin: 0;
    padding: 0;
}

/* Header y navegación */
header {
    /* background: #333; */
    color: #fff;
    /* padding: 10px 0; */
}

.fixed-top{
    background-image: linear-gradient( to bottom,#043C44, #00CED1);

}

.video-header{
    object-fit: contain;
    overflow-clip-margin: content-box;
    overflow: clip;
    height: auto; 
    display: block;
    width: 100%;
}


.product-item{
    background-color: #333;
    border-radius: 10px;
    transition: all 0.3s;
}
.product-item:hover{
    transform: scale(1.1);
    box-shadow: 15px 20px 20px 20px rgba(0, 0, 0, 0.5);
}


.content{
    display: none;
}

.btn{
    font-size: 30px;
    margin-top: 10px;
    color: wheat;
}

/* #map {
    height: 100%;
    width: 100%;
} */

.mapa{
    /* 
    width: 100%;
    height: 40px;
    border: 1px solid #ccc;
    justify-content: center;
    display: flex; */
    display: flex;
    justify-content: center;
    background: cover;
    margin: 60px;
    width: 700px;
    height: 458px;
    border: 5px solid #1a899a;
    border-radius: 8px;
    margin-left: 60px;
}


nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1200px;
    margin: auto;
    padding: 0 20px;
    font-size: 55px;
}

.logo{
    width: 80px;
    height: 80px;
    transition: all 0.3s;
}

.logo:hover{
    transform: scale(1.2);
    box-shadow: rgba(255, 20%, 50%);
    filter: drop-shadow(2px 5px 10px #ffffff);
}

.nav-links {
    display: flex;
    list-style: none;
    
}

.nav-links li {
    margin-left: 20px;
}

.nav-links a {
    color: #fff;
    text-decoration: none;
    font-size: 27px;
    transition: all 0.3s;
}

.nav-links a:hover{
    transform: scale(1.2);
    box-shadow: rgba(122, 20%, 50%);
    filter: drop-shadow(2px 5px 10px #ffffff);
}

.burger {
    display: none;
    cursor: pointer;
}

.burger div {
    width: 25px;
    height: 3px;
    background: #fff;
    margin: 5px;
}

/* Hero Section */
.hero {
    background: url('./img') no-repeat center center/cover;
    color: #fff;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.hero h1 {
    font-size: 3rem;
}

.hero p {
    font-size: 1.2rem;
}

/* About Section */
.about {
    padding: 20px;
    text-align: center;
}

.about h2 {
    margin-bottom: 20px;
}

/* Products Section */
.products {
    padding: 20px;
    text-align: center;
    display: start;
    background-color: #333;
    color: white;
}

.product-grid {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.product-item {
    margin: 15px;
    padding: 10px;
    border: 2px solid #fff;
    width: 300px;
    height: 50%;
}

.product-item img {
    max-width: 100%;
}

/* Footer */
footer {
    background: #333;
    color: #fff;
    text-align: center;
    padding: 10px 0;
}

/* Responsivo */
@media (max-width: 768px) {
    .nav-links {
        display: none;
        flex-direction: column;
    }

    .burger {
        display: block;
    }
}




.reservations-section {
    text-align: center;
    padding: 50px 20px;
    background-color: #ffffff;
}

.reservations-section h2 {
    font-size: 36px;
    color: #043C44;
    margin-bottom: 20px;
}

.reservations-section p {
    font-size: 18px;
    color: #666666;
    margin-bottom: 20px;
}

.reservations-section a {
    color: #2c5d2d;
    text-decoration: none;
    font-weight: bold;
}

.reservations-section a:hover {
    text-decoration: underline;
}

.opentable-widget {
    margin: 0 auto;
    max-width: 400px;
    padding: 20px;
    background-color: #ffffff;
    border: 1px solid #dddddd;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.opentable-widget img {
    width: 100%;
}


.form{
    max-width: 300px;
    color: white;
    background-color: #043C44;
    text-align: center;
    align-items: center;
    display: grid;
    margin-left: 420px;
}


.container-team{
    width: 100px;
    height: 100px;
    text-align: center;
    align-items: center;
    display: flex;
}

.container-team img{
    justify-content: space-evenly;
    margin: 50px;

}